{% extends 'base.html' %}
{% load static %}
{% block isinya %}
</section>
<section class="tampilan">
<div class="row">
<div class="leftcolumn">

<div class="card">

<h2>MALUKU</h2>
<div class="fakeimg" style="height: 200px;"><img class="p4" src="{% static 'img/ibukota.jpg'%}"></div>

<p>Ibu Kota Maluku</p>

<p>Maluku adalah sebuah provinsi yang meliputi bagian selatan Kepulauan Maluku, Indonesia. Provinsi ini berbatasan dengan Laut Seram di Utara, Samudra Hindia dan Laut Arafura di Selatan,
    Papua di Timur, dan Sulawesi di Barat. Ibu kota dan kota terbesarnya ialah kota Ambon
</p>
</div>
<div class="card">

<h2>PANTAI PASIR PANJANG KEI</h2>
<div class="fakeimg" style="height: 200px;"><img class="p4" src="{% static 'img/wisata.jpg'%}"></div>

<p>Pantai Ngurbloat atau yang sering juga disebut Pantai Pasir Panjang, merupakan sebuah kawasan pantai yang berada di Desa Ngilngof, berjarak sekitar 17km dari Kota Langgur. Pantai yang menyajikan tak hanya keindahan panorama pantai dengan langitnya yang biru,
    gelombangnya yang ramah, air laut yang super jernih dan berwarna biru, serta pepohonan kelapa yang membingkai tempat ini dengan sempurna, namun juga karena pasir pantainya yang sehalus butiran tepung, hingga akhirnya Pantai Ngurbloat dijadikan sebagai pemilik pasir pantai terhalus pertama di dunia. Terdapat pula di depan pantai ngurbloat,
    berbagai jenis biota laut untuk anda pencinta diving dan menikmati keindahan bawah lautnya pantai yang menjadi icon pariwisata Maluku Tenggara ini. Kata Ngurbloat berasal dari bahasa Kei yang berarti Pasir Panjang.
</p>
</div>
</div>

<div class="rightcolumn">
<div class="card">

<h2>About Me </h2>

<div><img class="p1" src="{% static 'img/kiki.jpeg' %}" alt=""></div>

<p class="ket"> KIKI SAHNAKI SEDUBUN</p>

</p>

</div>

</div>
</div>
</section>
{% endblock %}